* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgba(39, 165, 215, 0.751);
}

.headcontainer {
    /* border: 2px solid black; */
    text-align: center;

}

.heading1 {
    color: white;
    font-weight: 1000;
    font-size: 65px;
}

.heading2 {
    color: rgb(230, 230, 68);
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading3 {
    color: rgba(2, 2, 2, 0.966);
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
}

.heading4 {
    color: rgb(42, 42, 47);
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}

.input1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    outline: none;
    /* justify-items: center; */
}

#input {
    width: 700px;
    height: 35px;
    margin-top: 30px;
    border-radius: 10px;
    outline: none;

}

.container1 {
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button1 {
    margin-top: 30px;
    background-color: rgba(201, 194, 194, 0.217);
}

.div1 {
    width: 600px;
    height: 40px;
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;

}

.div1:hover {

    scale: 1.007
}

.div2 {
    width: 600px;
    height: 40px;
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;
}

.buttoninner {

    margin-left: 560px;
    margin-top: -15px;
    border-radius: 5px;
    height: 30px;
    width: 40px;

    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

.buttoninner.hover {

    scale: 1.007;
}

.delete {
    display: none;
}

.yellow {
    background-color: yellow;
    margin-top: 5px;
    border-radius: 5px;
}

.buttoncolor {
    background-color: yellow;
}